{% extends "loginbase.html" %}

{% block header %}
{{category}}
{% endblock %}

{% block body %}
<table style="width:100%" border="5">
<tr>
  <th>Title</th>
  <th>Category</th>
  <th>ID</th>
</tr>
  {% for i in range(0, stories|length) %}
  <tr>
    <td><form method= "GET" action="/edit">
      <button type="submit" name="story_id" value={{stories[i]["story_id"]}}> Edit {{stories[i]["title"]}} </button>
    </form></td>
    <td>{{stories[i]["category"]}} </td>
    <td>{{stories[i]["story_id"]}} <td>
  {% endfor %}
</table>
<br><br>
<form action="/home" method="POST">
  <input type="submit" value="Home">
</form>
{% endblock %}
