{% extends "loginbase.html" %}

{% block header %}
Home
{% endblock %}

{% block body %}
Welcome, {{user}}

<form action="/category" method= "POST">
  <input type="submit" value="List of stories">
</form>

<form action="/create" method= "POST">
  <input type="submit" value="Make a new story!">
</form>

<form action="/logout" method= "POST">
  <input type="submit" value="Logout user">
</form>

Stories you contributed to:
<form action = "/read" method = "GET">
{% for key, val in stories.iteritems() %}
 <tr>
      <td> <button type = "submit" name = "story_id" value = {{val}}>{{key}}</button></td> <br>
   </tr>
{% endfor %}
</form>
{% endblock %}
