{% extends "base.html" %}

{% block header %}
Home
{% endblock %}

{% block body %}
                Welcome, {{user}}

                <form action="/categories" method= "POST">
                  <input type="submit" value="Categories">
                </form>

                <form action="/newstory" method= "POST">
                  <input type="submit" value="Make a new story!">
                </form>
                Stories you contributed to:
                {{% for story in stories%}}
                <li><c>{{story.title}}</c></li>
                <c>{{story.text}}</c>
{% endblock %}
