{% extends "base.html" %}

{% block header %}
Welcome!
{% endblock %}

{% block body %}
<form method= "POST" action="/login">
  <h1>Login if you have an account:</h1>
  <br>
  Enter username:<br>
  <input type="text" name="username">
  <br>
  Enter password:<br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Submit" name="registerButton">
  <br><br>
  <h1>Click BELOW to create a new account:</h1>
  <br>
  <input type="submit" value="Register" name="registerButton">
</form>
{% endblock %}
