{% extends "loginbase.html" %}

{% block header %}
New Story
{% endblock %}

{% block body %}
<form action="/read" method= "GET" id="newstoryform">
  Please title your work: <input type="text" name="title">
  <br>
  Write your story here:
  <br>
  <input type="text" name="story">
  <!-- <textarea form="newstoryform" name="story" cols="40" rows="10"></textarea> -->
  <br>
  Choose a category for your story:
  <input type="text" name="category">
  <br>
  <button type="submit" name="submission" value="new_story"> Make new Story </button>
</form>

<br><br>
<form action="/home" method="POST">
  <input type="submit" value="Home">
</form>
{% endblock %}
