{% extends "loginbase.html" %}

{% block header %}
Official-looking Account Registration Page
{% endblock %}

{% block body %}
    <form method= "POST" action="/signup">
      <h1>If you are here, you are here to create an account</h1>
      <br>
      <h2>Follow instructions below:</h2>
      <br>
      Type username:<br>
      <input type="text" name="newUser">
      <br>
      Type password:<br>
      <input type="password" name="newPass">
      <br>
      <input type="submit" name="createAccount" value="Register Account">
      <br>
    </form>
{% endblock %}
