{% extends "loginbase.html" %}

{% block header %}
{{title}}
{% endblock %}

{% block body %}
{% if reading == "true" %}
<p>You are now reading <strong>{{title}}</strong></p>
<br>
<br>
    Made by {{creator}} at {{time}}
<br>
    <br>
    {{story}}
    <br>
    <form method="POST" action="/home">
      <input type="submit" value="Home">
    </form>
    <br>
    <br>
  {% else %}
    You are now editing {{title}}
    Made by {{creator}} at {{time}}
    <br>
    Last submission:
    {{storylast}}
    <br>
    Add your submission:
    <br>
    <form method= "GET" action="/edithelp" id="storyform">
     <input type="text" name="story">
     <!-- <textarea form="storyform" name="story" cols="40" rows="10"></textarea> -->
     <br>
     <input type="submit" value="Submit" name="submission">
     <input type="hidden" value={{s_id}} name="story_id">
</form>
{% endif %}
{% endblock %}
